body {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: orangered;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    color: firebrick;
    text-align: center;
    font-size: 24px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#background {
    background-image: url("/images/Leaves.gif"), url("/images/Leaves.gif");
    background-size: cover;
    background-position:
        right bottom,
        left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}
